@model DinhCongMinh_QuanLySinhVien_CuoiKy.Models.Khoa

@{
    ViewBag.Title = "Details";
}

<h2 style="font-weight: bold; text-align: center">THÔNG TIN CHI TIẾT SINH VIÊN</h2>
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-8 col-md-offset-3">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MaKhoa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaKhoa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TenKhoa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenKhoa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gmail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gmail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SDT)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SDT)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaTruong)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaTruong)
                    </dd>

                </dl>
            </div>
            <p>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Khoa", new { id = Model.MaKhoa })'">Chỉnh sửa</button>
                @using (Html.BeginForm("Index", "Khoa", FormMethod.Get))
                {
                    <button type="submit" class="btn btn-primary" style="margin-left: 30%;">Trở về danh sách Khoa</button>
                }
            </p>
        </div>
    </div>
</div>
